body {
  background-color: rgba(11, 11, 15, 1);
}

header{
background-color: black;
height: 100px;
}

h1{
  color: white;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 40px;
  display: inline;
  float: left;
}

h2 {
  color: white;
  font-family: "Comic Sans";
  font-size: 50px;
  display: block;
}

.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

