body {
  background-color: black;
  padding: 0;
  margin: 0;
}

header{
  background-color: white;
  height: 80px;
}

.left_sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 2.5%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.right_sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 2.5%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.navigation-bar {
  height: 80px; /* change it to desired width */
  background-color: white; /* change to desired color */
  padding-left: 40px;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.nav-heading{
  color: black;
  font-family: "Brush Script MT", Brush Script Std, cursive;
  font-size: 34px;
  display: inline-block;
  margin-right: 55.5%;
  padding-left: 2.5%;
  line-height: 70%;
}

.navigation-bar > a {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;    /* if you want it vertically middle of the navbar */
}

.social-button {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 28px;
  margin-top: 25px;    /* if you want it vertically middle of the navbar. */
}



